html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  background-color: #30658d;
  padding: 0;
  margin: 1rem;
}

body {
  background-color: #f2f1ed;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "main main";
  gap: 1rem;
  padding: 1rem;
}

.img-banner {
  grid-area: banner;
  padding: 1rem;
}

figure {
  padding: 1rem 0 0;
  margin: 0;
}

li, h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
  display: flex;
  margin: 0;
  padding: 0;
}

.logo {
  width: 14rem;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
}

li {
  list-style-type: none;
  color: #fff;
}

a {
  color: #fff;
  font-size: 2rem;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

main {
  display: contents;
  grid-area: main;
  grid-column: 1/-1;
  grid-row: 2;
}

p {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

nav {
  grid-area: banner;
  grid-row: 1;
  grid-column: 2;
  padding-top: 1rem;
}
